  body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url("fundo.jpeg") ;
    background-repeat: no-repeat;
    background-size: 100% ;
    font-family: "Century Gothic";
  }
  
  .logo {
    margin-left: 40%;
    margin-top: 8%;
    width: 20%;
    height: 100%;
    align-content: center;
  
  }
  
   nav {
    float: right;
  }
  
  ul {
    list-style: none;
    margin-top: 32px;
  }
  
  ul li {
    display: inline;
    margin-right: 25px;
    text-transform: uppercase;    
  }
  ul li a {
    color: white;
    font-weight: bold;
  
  }
  a:link   { 
  text-decoration:none; 
  } 

  ul li a:hover {  
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.1s;
    color: #ff5b15;

  }
  .slogan {
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 3%;
    text-transform: uppercase;  
    font-size: 35px;
  }
.contato {
  color: white;

  margin-top: 7%;
  text-align: center;
  }
  