* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    height: 100%;
    width: 100%;

    background-image: url('../imgs/background_institucional.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
}

.fundo_Logo{
    height: 1500px;
    width: 100%;
    background-color: black;
    opacity: 0.8;
}

nav{
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
}

.borda_login {
    background-color: transparent;
    border: 1px solid #000;
    border-color: white;
    margin-top: 25px;
    border-radius: 10px;
    justify-content: center;
    margin-top: 20px;
    margin-right: 420px;
    margin-left: 410px;
    text-align: center;
    
    padding-top: 20px;
    padding-bottom: 20px;
}

.p_login {
    font-size: 24px;
}

.input {
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

input {
    padding-left: 5px;

    color: rgba(0, 0, 0, 0.925);
    font-size: 20px;
    width: 350px;

}

.button_login{
    
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 22px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 113px;
}

.button_cadastro{
    
    margin-left: 20px;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 22px;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    width: 113px;
}

