  body {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .cabecalho {
    padding-top: 0px;
    background: #8e0e7f;
    width: 100%;
    height: 80px;
    padding-bottom: 0px;
    overflow: auto;
    border-bottom: 3px solid #ff5b15 ;
  }
  
  .logo {
    margin-left: 1%;
    width: 15%;
    height: 90%;
    float: left;
  }
  
  .cabecalho nav {
    float: right;
  }
  
  ul {
    list-style: none;
    margin-top: 32px;
  }
  
  ul li {
    display: inline;
    margin-right: 25px;
    font-family: "Century Gothic";
    text-transform: uppercase;    
  }
  ul li a {
    color: white;
    font-weight: bold;
  
  }
  a:link   { 
  text-decoration:none; 
  } 

  ul li a:hover {  
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
    transition: 0.1s;
    color: #ff5b15;

  }